[Unit]
Description=Proton Drive Sync
After=network-online.target gnome-keyring-headless.service
Wants=network-online.target

[Service]
Type=simple
ExecStart={{BIN_PATH}} start
Restart=on-failure
RestartSec=5
Environment="HOME={{HOME}}"
Environment="PATH={{HOME}}/.local/bin:/usr/local/bin:/usr/bin:/bin"
EnvironmentFile=-{{HOME}}/.local/share/proton-drive-sync/keyring_env

[Install]
WantedBy=default.target
